.imagem-carrossel {
    object-fit: cover;
    height: 600px;
}

.navbar-brand {
    font-family: 'McLaren', cursive;
    text-shadow: black;
    
}
.navbar {
    border:#96C4C9;
    font-family: 'McLaren', cursive;
    text-shadow: black;
}

.carousel-caption{
    top: 280px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:700;
    text-shadow: 2px 1px 1px rgb(0, 0, 0);
    color: rgb(241, 208, 44);
}


.fonte-texto {
    font-family: 'McLaren', cursive;
    font-weight: bold;
    font-style: normal;
    color:#68969C;
    text-shadow: black;
}
.espaço-card {
    margin: 8rem;

}

.fonte-titulo-card {
    font-family: 'McLaren', cursive;
    font-size: 20px;
    color: #5D868B;
    text-shadow: black;
}

.imagem-card {
    object-fit: cover;
    height: 286px;
}

.borda-card {
    border-color: rgba(7, 124, 139, 0.616);
    
}
.botão-redes{
    font-size: 40px;
    color: #5D868B;
    text-shadow: black;
}

.footer-redes{
    font-family:'McLaren', cursive;
    color:#5D868B;
    font-weight: bold;
    text-shadow: black;
}
.fonte-texto-footer{
    font-family: 'McLaren', cursive;
    color: #5D868B;
}
